---
http_interactions:
- request:
    method: post
    uri: https://c7097600.web.cddbp.net/webapi/xml/1.0/
    body:
      encoding: UTF-8
      string: |-
        <QUERIES>
                        <AUTH>
                            <CLIENT>7097600-35312F0A797B9FE6F24AC32CDE64AC5B</CLIENT>
                            <USER>259611531832193638-19110695509BAD8C550883C21A289003</USER>
                        </AUTH>
                        <QUERY CMD="CONTRIBUTOR_FETCH">
                            <GN_ID>238498181-193BE2BA655E1490A3B8DF3ACCACEF3A</GN_ID>
                    <OPTION>
                      <PARAMETER>SELECT_EXTENDED</PARAMETER>
                      <VALUE>IMAGE,MEDIAGRAPHY_IMAGES</VALUE>
                    </OPTION>
                        </QUERY>
                    </QUERIES>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "\n\n \n<RESPONSES>\n <RESPONSE STATUS=\"OK\">\n   <CONTRIBUTOR>\n      <GN_ID>238498181-193BE2BA655E1490A3B8DF3ACCACEF3A</GN_ID>\n
        \     <NAME>Vince Vaughn</NAME>\n      <DATE TYPE=\"BIRTH\">1970-03-28</DATE>\n
        \     <PLACE TYPE=\"BIRTH\">Minneapolis, Minnesota, United States</PLACE>\n
        \     <BIOGRAPHY>Born in Minnesota and raised in Illinois, actor Vince Vaughn
        is primarily known for his comedic roles. Vaughn began auditioning for screen
        parts in Hollywood during the late 1980s, initially getting one-off appearances
        in episodes of the TV shows China Beach and 21 Jump Street. A few years after
        a minor role in the football film, Rudy, Vaughn was cast, along with friend
        Jon Favreau, as one of the leads in the &apos;96 indie comedy Swingers, a
        surpr[...]
