---
http_interactions:
- request:
    method: post
    uri: https://c7097600.web.cddbp.net/webapi/xml/1.0/
    body:
      encoding: UTF-8
      string: |-
        <QUERIES>
                        <AUTH>
                            <CLIENT>7097600-35312F0A797B9FE6F24AC32CDE64AC5B</CLIENT>
                            <USER>259611531832193638-19110695509BAD8C550883C21A289003</USER>
                        </AUTH>
                        <QUERY CMD="SERIES_SEARCH">
                            <TEXT TYPE='TITLE'>saved by the bell</TEXT>
                    <MODE>SINGLE_BEST</MODE>
                    <OPTION>
                      <PARAMETER>SELECT_EXTENDED</PARAMETER>
                      <VALUE>IMAGE</VALUE>
                    </OPTION>
                        </QUERY>
                    </QUERIES>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "\n\n \n<RESPONSES>\n <RESPONSE STATUS=\"OK\">\n   <SERIES>\n      <GN_ID>238078046-4B86F4187EE2D215784CE4266CB83EA9</GN_ID>\n
        \     <TITLE>Saved by the Bell</TITLE>\n      <DATE TYPE=\"ORIGINALRELEASE\">1989-08-20</DATE>\n
        \     <PRODUCTION_TYPE ID=\"16641\">TV Series</PRODUCTION_TYPE>\n      <GENRE
        ID=\"33756\">Comedy</GENRE>\n      <SYNOPSIS>The adventures of students at
        California&apos;s Bayside High School.</SYNOPSIS>\n      <CONTRIBUTOR RANK=\"1\">\n
        \        <NAME>Mark-Paul Gosselaar</NAME>\n         <GN_ID>238222381-E95F7B753BE55FC3211A3FDB1300D9CC</GN_ID>\n
        \        <CONTRIBUTION>\n            <CONTRIBUTION_TYPE MEDIASPACE=\"VIDEO\"
        ID=\"15942\">Actor</CONTRIBUTION_TYPE>\n            <CHARACTER>Zachary &quot;Zack&quot;
        Morris</CHARACTER>\n         </CONTRIBUTION>\n      </CONTRIBUTOR>\n      <CONTRIBUTOR
        RANK=\"2\">\n         <NAME>Tiffani Thiessen</NAME>\n         <GN_ID>238181734-2EF408E08B75618B18C445D5BB09AE04</GN_ID>\n
        \        <CONTRIBUTION>\n            <CONTRIBUTION_TYPE MEDIASPACE=\"VIDEO\"
        ID=\"15942\">Actor</CONTRIBUTION_TYPE>\n         </CONTRIBUTION>\n      </CONTRIBUTOR>\n
        \     <CONTRIBUTOR RANK=\"3\">\n         <NAME>Mario Lopez</[...]
