---
http_interactions:
- request:
    method: post
    uri: https://c7097600.web.cddbp.net/webapi/xml/1.0/
    body:
      encoding: UTF-8
      string: |-
        <QUERIES>
                        <AUTH>
                            <CLIENT>7097600-35312F0A797B9FE6F24AC32CDE64AC5B</CLIENT>
                            <USER>259611531832193638-19110695509BAD8C550883C21A289003</USER>
                        </AUTH>
                        <QUERY CMD="SEASON_FETCH">
                            <GN_ID>238050049-B36CFD6F8B6FC76E2174F2A6E22515CD</GN_ID>
                        </QUERY>
                    </QUERIES>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "\n\n \n<RESPONSES>\n <RESPONSE STATUS=\"OK\">\n   <SEASON>\n      <GN_ID>238050049-B36CFD6F8B6FC76E2174F2A6E22515CD</GN_ID>\n
        \     <TITLE>Season 1</TITLE>\n      <PRODUCTION_TYPE ID=\"16641\">TV Series</PRODUCTION_TYPE>\n
        \     <GENRE ID=\"33756\">Comedy</GENRE>\n      <SERIES>\n         <GN_ID>238078046-4B86F4187EE2D215784CE4266CB83EA9</GN_ID>\n
        \        <TITLE>Saved by the Bell</TITLE>\n      </SERIES>\n      <SEASON_NUM>1</SEASON_NUM>\n
        \     <AV_WORK>\n         <GN_ID>238692983-11EA09C5735997DCC8B7C522513EEA3C</GN_ID>\n
        \        <TITLE>Dancing to the Max</TITLE>\n         <EPISODE_NUM>1</EPISODE_NUM>\n
        \     </AV_WORK>\n      <AV_WORK>\n         <GN_ID>239516360-7956FA12995858DE2D6A64FB1BE0FE48</GN_ID>\n
        \        <TITLE>The Lisa Card</TITLE>\n         <EPISODE_NUM>2</EPISODE_NUM>\n
        \     </AV_WORK>\n      <AV_WORK>\n         <GN_ID>239300465-2395A4C7E44F63D0486F4DB813453C95</GN_ID>\n
        \        <TITLE>The Gift</TITLE>\n         <EPISODE_NUM>3</EPISODE_NUM>\n
        \     </AV_WORK>\n      <AV_WORK>\n         <GN_ID>239128169-F6612D0B9B29C5A501FA[...]
